body, html {
    height: 100%;
    font-family: 'Cardo', serif !important;
    color: #2E3841;
}

    body p {
        font-family: 'Cardo', serif !important;
        color: #2E3841;
    }

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase !important;
}

/******************************** OVERSKRIV TOPBUILDER FONTS */

.tittle h2 {
    font: 600 26px 'Montserrat', sans-serif !important;
}

.tittle h4 {
    font: 400 14px "Cardo", serif !important;
    text-transform: none;
}

.our_services_area .portfolio_inner_area .portfolio_filter ul li a {
    font: 400 14px "Montserrat", sans-serif !important;
}

.nav-link {
    color: rgba(255,255,255,.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}




/***************************************************************/

/******************************** OVERSKRIV TOPBUILDER FARVER */


.our_services_area {
    background: #2e3841;
}

    .our_services_area .portfolio_inner_area .portfolio_item .single_facilities .single_facilities_inner .gallery_hover {
        background-color: rgba(255, 183, 96, 0.851) !important;
    }

.tittle h2:after {
    background: #FFB760 !important;
}


.our_services_area .portfolio_inner_area .portfolio_filter ul li:hover a, .our_services_area .portfolio_inner_area .portfolio_filter ul li:focus a, .our_services_area .portfolio_inner_area .portfolio_filter ul li.active a {
    color: #FFB760 !important;
}

/***************************************************************/


.parallax {
    /* The image used */
    background-image: url('images/baggrund_test.jpg');
    /* Full height */
    height: 60vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/*NAVBAR*/

.bg-dark {
    background-color: #2E3841 !important;
}

.navbar {
    padding: 1.5rem 0rem;
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
